.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #666;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .cta-button:hover {
    background-color: darkgreen;
  }