<ul class="links">
    <li>
      <a href="#">Web Football</a>
    </li>
    <li>
      <a 
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a 
        routerLink="/userlist"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Users</a
      >
    </li>
    <li>
      <a 
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About</a
      >
    </li>
  </ul>