<div class="bordered">
    <p>
        Navbar
        <a 
            routerLink="/component-a"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Component A</a
        >
        |
        <a 
            routerLink="/component-b"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Component B</a
        >
        |
        <a 
            routerLink="/a-columns"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >A Columns</a
        >
    </p>
</div>